body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9; /* Color pastel claro */
    transition: background-image 0.5s;
}

h1 {
    text-align: center;
    color: #555; /* Color gris suave para el encabezado */
}

#fondo-url {
    display: block;
    margin: 20px auto;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #e0e0e0; /* Color pastel suave */
}

#controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 50%;
    background-color: rgba(173, 127, 255, 0.9); /* Morado pastel */
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: rgba(173, 127, 255, 1);
}

#info {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

#thumbnail {
    margin-right: 20px;
}

#thumbnail img {
    width: 100px;
    height: auto;
}

#title {
    color: #ff6b6b; /* Color rojo suave */
    font-size: 18px;
}

#linea-reproduccion {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#progress-bar {
    width: 80%;
}

#genero-actual {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

#playlist-songs {
    background-color: rgba(173, 216, 230, 0.9); /* Azul pastel */
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    color: #333; /* Color de texto gris oscuro */
}

input[type="text"], select {
    margin: 20px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #f0f8ff; /* Color pastel claro */
}
